/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* Fontes */

.interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1440px;
    height: 115px;
    background-color: #ffffff;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px, 32px, 0px;
    position: static;
    width: 1136px;
    height: 115px;
    left: 152px;
    top: 0px;
    background-color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 0px;
    position: static;
    width: 601px;
    height: 50px;
    top: 32.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

input {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 393px;
    height: 40px;
    top: 5px;
    left: calc(50% - 393px / 2 + 104px);
    padding: 8px, 16px, 8px, 16px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 20px;
    flex: none;
    order: 1;
}

input::-webkit-input-placeholder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 329px;
    height: 16px;
    top: 12px;
    left: 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 182px;
    height: 51px;
    top: 32px;
    left: 954px;
    padding: 16px;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #2a7ae4;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18.78px;
    background-color: transparent;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 32px;
    position: static;
    left: 0px;
    top: 115px;
    flex: none;
    order: 1;
    align-self: stretch;
}
.imagem-hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%);
}

.texto-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    padding: 0px;
    position: absolute;
    width: 1136px;
    height: 170px;
    left: 152px;
    top: 280px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.texto1 {
    position: static;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto2 {
    font-family: "Raleway", sans-serif;
    position: static;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hero button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 132px;
    height: 51px;
    top: 119px;
    background-color: #2a7ae4;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
}
